.slider-template {
    position: relative;
    width: 100%;
    overflow: hidden;

    .slick {
        &-track {
            display: flex;
        }

        &-dots {
            width: 100%;
            position: absolute;
            display: flex !important;
            bottom: 113px;
            padding: 0px $padding-left-right;
            text-align: left;

            button {
                text-indent: -9999px;
                cursor: pointer;
                outline: none;
                width: 10px;
                height: 10px;
                overflow: hidden;
                border: none;
                border-radius: 5px;
                background: #ffffff;
                transition: opacity .3s ease-in-out;
            }

            li {

                &:not(:last-child) > button {
                    margin-right: 40px;
                }
            }

            li:not(.slick-active) > button {
                opacity: .4;
            }
        }
    }

    &_button {
        cursor: pointer;
        position: absolute;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(#ffffff, .2);
        bottom: 113px;
        transition: background .3s ease-in-out;
        border: none;
        right: $padding-left-right !important;
        z-index: 1;
        outline: none;

        &__left {
            right: calc(#{$padding-left-right} + 60px) !important;
        }

        &:hover {
            background: rgba(#ffffff, .4);
        }
    }
}