.header {
    display: flex;
    height: 110px;
    background: #ffffff;
    padding: 22px $padding-left-right 31px;

    &_content {
        width: 100%;
    }

    &_contacts {
        margin-bottom: 22px;
    }
}