$text : #000000;
$accent : #005FA3;

$padding-left-right : calc(50vw - 558px);

@import "./components/slider-template/index.scss";
@import "./components/section/index.scss";

@import "./components/header/index.scss";
@import "./components/logo/index.scss";
@import "./components/contacts-list/index.scss";
@import "./components/navigation/index.scss";

@import "./components/main-banner/index.scss";

@import "./components/our-service/index.scss";

@import "./components/about/index.scss";

@import "./components/clients/index.scss";

@import "./components/reviews/index.scss";

@import "./components/footer/index.scss";

@font-face {
    font-family: "LatoRegular";
    src: url(./assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "LatoLight";
    src: url(./assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: "LatoBold";
    src: url(./assets/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: "LatoBlack";
    src: url(./assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: "MerriweatherRegular";
    src: url(./assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "MerriweatherBold";
    src: url(./assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: "MerriweatherBlack";
    src: url(./assets/fonts/Merriweather/Merriweather-Black.ttf);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 18px;
    font-family: "LatoLight";
    text-decoration: none;
    color: #000000;
}

h2.head-text {
    color: #333333;

    &, & * {
        font-size: 48px;
        font-family: MerriweatherBlack;
        line-height: 69px;
    }
}
h3.head-text {
    color: #BDBDBD;

    &, & * {
        font-size: 24px;
        font-family: LatoBlack;
        line-height: 33px;
    }
}

.accent-text {
    color: $accent;
}