@font-face {
    font-family: "LatoRegular";
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
    font-family: "LatoLight";
    src: url(../assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
    font-family: "LatoBold";
    src: url(../assets/fonts/Lato/Lato-Bold.ttf);
}
@font-face {
    font-family: "LatoBlack";
    src: url(../assets/fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: "MerriweatherRegular";
    src: url(../assets/fonts/Merriweather/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "MerriweatherBold";
    src: url(../assets/fonts/Merriweather/Merriweather-Bold.ttf);
}

@font-face {
    font-family: "MerriweatherBlack";
    src: url(../assets/fonts/Merriweather/Merriweather-Black.ttf);
}